
body {
  font-family: Arial;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  margin-top: 80px;
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.search-box input {
  padding: 8px;
  width: 200px;
}

button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

.filter-box {
  margin-top: 15px;
}

#suggestions {
  background: white;
  color: black;
  width: 200px;
  margin: auto;
  text-align: left;
}

pre {
  background:#f4f4f4;
  padding:10px;
  border:1px solid #ccc;
}




